@import "gray-gold/mermaid.dark.css";
@import "gray-gold/codeblock.dark.css";

:root {
    /* color */
    --gray-ivory: #d9cec1; /* 象牙白：正文颜色etc */
    --linen: #d6be9c; /* 亚麻色：加粗etc */
    --gray-gold: #edd5af;/* 灰金：标题颜色etc */
    --moon-white: #c2c8cc; /*月白：链接etc */
    --gray-cherry-blossoms: #c2babe; /* 灰樱：高亮etc */
    --coal-gray: #887f7a; /* 灰：task-list(check box) 删除线 */
    --blue-rat-gray: #627d82; /*蓝鼠灰：高亮的超链接颜色 */
    /*--thin-ultramarine: #afc7ed; /*薄群青 */

    /*--of-theme-color: var(--moon-white); /* 链接、菜单、返回按钮、源代码模式光标 */
    --of-theme-color-dark: var(--linen);  /* ctrl+p快速打开的hover颜色 var(--gray-ivory)、关闭md问是否保存的菜单 */                                /* ? */
    --of-darkest-color: #2d2d2d;/*侧边栏背景颜色,表格编辑菜单的背景颜色*/
    --of-darker-color: #404040;/*背景颜色，高亮文字颜色*/
    --of-dark-color: #505050; /*代码块背景颜色, 数学公式块背景颜色*/
    --of-dark-color2: #282828; /* 表格正文深色背景 202020 */
    --of-dark-color3:#232323; /* 被激活的目录背景 */
    --of-dark-color4:#232323; /* 被激活的文件背景 */
    --of-dark-color5:#353535; /* 表格正文浅色背景 222222 */
    --of-dark-color6:#202020; /*表格题目行背景 1b1b1b*/
	
	/* TODO: 默认深色菜单的配色 */
	--dark-menu-bg: #2d2d2d;
	
	/* TODO: 浅色菜单配色 *//* i.e. ctrl+p的快速打开*/
	--light-menu-bg: var(--gray-ivory);
	--light-menu-font: #404040;
	--light-menu-bold-font: #303030; /* 粗体。有需要记得覆盖，不然就是沿用默认的粗体颜色了 */
	--light-menu-bg-active: var(--linen);
	--light-menu-font-active: #404040;
	--light-menu-bg-hover: var(--gray-gold);
	--light-menu-font-hover: #404040;
	

    --of-font-size: 15px; /*字体大小*/
    --of-text-color: var(--gray-ivory); /* 正文颜色、侧边栏文字颜色*/                                              /* ？ 确定影响范围 */

    /* 背景颜色 */
    --bg-color: var(--of-darker-color);

    /* 标题 */
    --of-header-color:var(--gray-gold);/* 标题颜色 */
    
    /* 这才是文字颜色 */
    --text-color-main: var(--gray-ivory);
    --of-strong: var(--linen); /* **粗体**文字 */
    --highlight-text-color: var(--of-darker-color);/* ==高亮==文字颜色 */ 
    --highlight-text-bg-color: var(--gray-gold);/* 高亮背景颜色 */
    --highlight-a-color: var(--blue-rat-gray); /* 高亮的链接颜色 */

    /* [链接](link)*/
    --a-color: var(--moon-white);/* 链接文本颜色 */
    --a-hover-color: var(--gray-ivory);/* 链接文本hover时的颜色 */

    /* 主题、菜单、整体软件设置 */
    --primary-color: var(--moon-white);  /* ?主题颜色 */                                       /* ？ */
    --other-main-color: var(--gray-gold); /* 分割线，菜单中hover时按钮背景颜色，高亮背景颜色 */  
    --item-hover-text-color: #fff;/*顶栏的文件名、菜单中hover选项时的颜色,不包括侧边栏*/
    --hover-color: #282828;/* 底栏菜单（侧边栏按钮、源代码模式）hover时的颜色 */
    --nav-group-item-color: var(--linen);/* Preferences设置的侧边栏选项被按下时的背景颜色 */

    /* 搜索 */
    /*--md-search-select-bg: #ffe4d9; /* 搜索选中的md文本背景颜色#edafc7 */
	/*--md-search-select-text: #404040; /* 搜索选中的md文本颜色颜色 */
	--md-search-hit-text: #404040; /* 搜索时未选中的md文本颜色 */
    --md-search-hit-bg: var(--gray-ivory); /* 搜索时未选中的md文本背景颜色 */                      
	/*--cm-search-select-bg: #ffe4d9; /* 代码块搜索选中的文本颜色 */
	/*--cm-search-select-text: #404040; /* 代码块搜索选中的文本背景颜色 */
	--cm-search-hit-text: #404040; /* 代码块搜索匹配但未选中的文本颜色 */
	--cm-search-hit-bg: var(--gray-ivory); /* 代码块搜索匹配但未选中的背景颜色 */ 
	/* base 样式中的变量 */
	--search-select-bg-color: var(--linen);  /* #c6b5a1#202020#ffd7c7搜索时当前选中的文本背景颜色（包括md和cm） */
	--search-select-text-color:#404040;   /* #afc7ed#d9333f#404040#84bf94搜索时当前选中的文本颜色（包括md和cm） */
	--select-background:var(--gray-ivory);                                                 /* ? 还影响其他一堆什么东西 */
	
	
    /* 划词选择 */
    --of-selection: var(--gray-ivory); /* 划词选择的背景 */
    --of-selection-text: #404040; /* 划词选择的文本 */

    /* 侧边栏（包括目录和文件） */
    --side-bar-bg-color: var(--of-darkest-color);/* 侧边栏背景颜色 */
    --text-color: var(--gray-ivory);/* 侧边栏文字颜色 */
    --window-border: 1px solid #333;                                         /* ？目前好像就（文件）侧边栏下面的分割线 */
    /* 侧边栏目录 */
    --item-hover-bg-color: var(--of-dark-color3);/* 被hover的目录背景 */
    /* 侧边栏markdown文件视图 */
    --active-file-bg-color: var(--of-dark-color4); /* 被激活的文件背景 */
    --active-file-text-color: var(--gray-gold); /* 被激活的文件文字 */
	/* 侧边栏文件夹视图 */
    --control-text-color: var(--gray-ivory); /* 侧边栏文件夹视图 */
    --control-text-hover-color: var(--gray-gold); /* 侧边栏文件夹视图hover时 */	
    --active-file-border-color: var(--gray-gold); /* 侧边栏文件夹视图中文件被激活时的左侧装饰性边框*/
	

    /* 数学公式代码块 */
    --rawblock-edit-panel-bd: var(--of-dark-color); /* 数学公式代码块hover时的背景 */

    /* 代码块 */
    --of-strong-code: var(--gray-gold);/* 行内代码块文本颜色 */
    --code-bg-color: var(--of-dark-color);/*代码块背景颜色*/
    --md-code-color: var(--of-strong-code);/* 行内代码块文本颜色 */
    --select-text-bg-color: var(--gray-ivory);/* （非行内）代码块划词背景*/

    /* > 引用块 */
    --blockquote-border-color: var(--moon-white); /* 引用块边框颜色*/

    /* 表格 */
    --footer-bg-color: #f00; 	                                                            /* ？var(--side-bar-bg-color) */
    --table-bg-darker-color:   var(--of-dark-color2); /* 表格正文深色背景 */
    --table-bg-color: var(--of-dark-color5); /* 表格正文浅色背景 */
    --table-thead-text-color: var(--linen);/* 表格题目文字颜色*/
    --table-thead-color: var(--of-dark-color6); /*表格题目行颜色*/
    --table-edit-color: var(--of-darkest-color); /* 表格编辑菜单的背景颜色（点击表格内容时在表格上方出现） */

    /* - [ ] 列表的check-box样式 */
    --task-list-border-color: var(--gray-gold); /* check-box border 颜色*/
    --task-list-black-border-color: #000000;                                                     /* ？ */
    --task-list-checked-color: var(--coal-gray) ; /*#6e6250#766a57 check-box 被勾选时颜色*/

    /* 源代码模式 */
    --codemirror-color: var(--of-dark-color);/* 源代码模式光标所在行 */
    --code-cursor-color: var(--moon-white);/* 源代码模式光标 */

    /* 右键菜单 */
    --menu-item-container-btn-hover: var(--of-dark-color2);/* 右键菜单图标按钮所在行hover时 */    /* ？ 文字所在行颜色不同 */
    --menu-item-container-btn: var(--gray-ivory);/* 右键菜单图标按钮边框border */
    --context-menu-color: var(--of-darkest-color);/* 右键菜单背景 */

    /* tooltip颜色（右键菜单按按钮、底栏菜单按钮时显示提示的颜色） */
    --tooltip-color: var(--of-darkest-color);/* tooltip颜色（右键菜单按按钮、底栏菜单按钮时显示提示的颜色） */
    --tooltip-text-color: white;/* tooltip文字颜色 */

    /* 滚动条颜色 */
    --scrollbar-color: var(--gray-ivory);

    /* 返回按钮 */
    --back-btn-color: var(--moon-white);


    /* 文档底边距离，也就是滚动条滚动到最下面与最后一行之间的距离，影响写作体验 */
    --write-padding-bottom: 400px;







    /* 引用的背景颜色 */
    --blockquote-color: #f00;/*var(--of-dark-color);/*  */                                      /* ？ 好像没用到 */




    --ofcodetext: Inconsolata, Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    --oftext: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    --text-font: var(--oftext); /*正文字体*/
    --title-font: var(--oftext); /*标题字体*/
    --text-line-height: 1.7; /*正文行间距*/
    --code-line-height: 1.6; /*代码块行间距*/
    --p-spacing: 0.8rem; /*段间距*/

}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */

html {
    font-size: var(--of-font-size);
    -webkit-font-smoothing: antialiased;
}

html,
body {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background: var(--bg-color);
    fill: currentColor;
    line-height: var(--text-line-height);
}

#write {
    max-width: 914px;
    padding-bottom: var(--write-padding-bottom);
}


@media only screen and (min-width: 1400px) {
	#write {
		max-width: 1024px;
	}
}

@media only screen and (min-width: 1800px) {
	#write {
		max-width: 1200px;
	}
}

html,
body,
button,
input,
select,
textarea,
div.code-tooltip-content {
    /* color: #d0d0d0; */
    color: var(--text-color-main);
    border-color: transparent;
}

div.code-tooltip,
.md-hover-tip .md-arrow:after {
    background: var(--code-bg-color);
}

.native-window #md-notification {
    border: 1px solid  var(--select-background);
}

.popover.bottom > .arrow:after {
    border-bottom-color: var(--code-bg-color);
}

html,
body,
button,
input,
select,
textarea {
    font-family: var(--text-font);
}

hr {
    height: 2px;
    border: 0;
    margin: 24px 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title-font);
    font-weight: bold;
    clear: both;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    color: var(--of-header-color);
    line-height: 1.4;
}

h1 {
    font-size: 2.5rem;
    padding-bottom: 0.1rem;
    margin: 1em auto 2rem;
    text-align: center;
    /*border-bottom:1px solid var(--of-header-color);*/
}

/*
h1::before, h1::after {
    content: " —— ";
}*/

h1:after {
    content: "";
    display: block;
    margin: 0.2rem auto 0;
    width: 6rem;
    height: 3px;
    border-bottom: 4px solid var(--of-header-color);
} 

h2 {
    font-size: 1.63rem;
    margin-bottom: var(--p-spacing);
    border-left: 0.5em solid var(--of-header-color);
    padding-bottom: 10px;
    border-bottom:1px solid var(--of-header-color);
    /*transition: border-bottom-color 0.3s ease-in-out 0.1s;*/
    padding-left: 0.2em;
}

/*
h2:hover {
    border-bottom: 1px solid transparent;
}
*/

h3 {
    font-size: 1.3rem;
    margin-bottom: var(--p-spacing);

}
h3 span {
    padding-bottom: 5px;
    border-bottom: 1px solid var(--of-header-color);
    transition: border-bottom-color 0.3s ease-in-out 0.1s;
    text-align: justify;
}

h3:hover > span {
    border-bottom: 1px solid transparent;
    text-align: justify;
}

h4 {
    font-size: 1.12rem;
    margin-bottom: var(--p-spacing);
    letter-spacing: -1px;
}

h5 {
    font-size: 0.97rem;
    margin-bottom: var(--p-spacing);
}

h6 {
    font-size: 0.93rem;
    margin-bottom: var(--p-spacing);
}

img {
    border-radius: 8px;
    border-left: none !important;
    border-right: none !important;
    max-width: 60%;
}

@media (max-width: 800px) {
    img {
        max-width: 100%;
    }
}

@media (min-width: 980px) {
    h3.md-focus:before,
    h4.md-focus:before,
    h5.md-focus:before,
    h6.md-focus:before {
        color: #ddd;
        border: 1px solid #ddd;
        border-radius: 3px;
        position: absolute;
        left: -1.642857143rem;
        top: .357142857rem;
        float: left;
        font-size: 9px;
        padding-left: 2px;
        padding-right: 2px;
        vertical-align: bottom;
        font-weight: normal;
        line-height: normal;
    }

    h3.md-focus:before {
        content: 'h3';
    }

    h4.md-focus:before {
        content: 'h4';
    }

    h5.md-focus:before {
        content: 'h5';
        top: 0px;
    }

    h6.md-focus:before {
        content: 'h6';
        top: 0px;
    }
}

a {
    text-decoration: none;
    outline: 0;
}

a:hover {
    outline: 0;
}

a:focus {
    outline: thin dotted;
}

sup.md-footnote {
    background-color: #555;
    color: #ddd;
}

p {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

p,
ul,
dd,
ol,
hr,
address,
pre,
table,
iframe,
.wp-caption,
.wp-audio-shortcode,
.wp-video-shortcode {
    margin-top: 0;
    margin-bottom: var(--p-spacing);
    /* 24px */
}

audio:not([controls]) {
    display: none;
}

[hidden] {
    display: none;
}

::-moz-selection {
    background:  var(--of-selection);
    color:  var(--of-selection-text);
    text-shadow: none;
}

*.in-text-selection,
::selection {
    background: var(--of-selection);
    color:  var(--of-selection-text);
    text-shadow: none;
}

ul,
ol {
    padding: 0 0 0 1.875rem;
    /* 30px */
}

ul {
    list-style: square;
}

ol {
    list-style: decimal;
}

ul ul,
ol ol,
ul ol,
ol ul {
    margin: 0;
}

b,
th,
dt,
strong {
    font-weight: bold;
    color: var(--of-strong);
}

i,
em,
dfn,
cite {
    font-style: italic;
}

blockquote {
    padding: 20px;
    position: relative;
    border-radius: 8px;
    border: 1px solid var(--blockquote-border-color);
    /* background-color: var(--background-color); */
    box-shadow: 0 2 px4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color); 
}

blockquote::before {
    content: "";
    position: absolute;
    top: -8px;
    left: -8px;
    width: 16px;
    height: 16px;
    border-radius: 5px;
    background-color: var(--blockquote-border-color);
    transform: rotate(45deg);
}

pre,
code,
kbd,
tt,
var {
    font-size: 0.9rem;
    font-family: var(--ofcodetext);
}

code,
tt,
var {
    background: rgba(255, 255, 255, 0.05);
    color: var(--md-code-color);
    border-radius: 0.2rem;
}

kbd {
    padding: 2px 4px;
    font-size: 90%;
    color: #fff;
    background-color: var(--code-bg-color);
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
}

/* pre.md-fences {
    padding: 10px 10px 10px 30px;
    margin-bottom: 20px;
    background: #31302e;
} */
pre.md-fences {
    font-size: 1rem;
    padding: 0.5rem !important;
    border-radius: 8px;
    word-wrap: normal;
    background-color: var(--code-bg-color);
    border: none;
    font-family: var(--ofcodetext);
}

.CodeMirror-gutters {
    background: var(--code-bg-color);
    border-right: 1px solid transparent;
}

.enable-diagrams pre.md-fences[lang="sequence"] .code-tooltip,
.enable-diagrams pre.md-fences[lang="flow"] .code-tooltip,
.enable-diagrams pre.md-fences[lang="mermaid"] .code-tooltip {
    bottom: -2.2em;
    right: 4px;
}

code,
kbd,
tt,
var {
    padding: 0.2rem 0.4rem;
}

table {
    max-width: 100%;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

th,
td {
    padding: 5px 10px;
    vertical-align: top;
}

a {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

hr {
    background: var(--other-main-color);
    /* 下划线颜色 */
    /* variable */
}

a {
    color: var(--a-color);
    text-decoration: underline;
}

a:hover {
    color: var(--a-hover-color);
}

.md-inline-math script {
    color: #81b1db;
}

/* 高亮颜色 */

mark {
    background: var(--highlight-text-bg-color);
    color: var(--highlight-text-color);
    padding: 0.2rem 0.4rem;
    border-radius: 0.2rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

mark a,
mark .md-content.md-url {
    color: var(--highlight-a-color);
}

mark a:hover {
    color: var(--highlight-text-color);
}

mark code {
    color: var(--highlight-text-color);
    border-radius: 0.2rem;
    border: 1px solid var(--highlight-text-color);
    background: none;
    padding: 0.1rem 0.35rem;
}

/* 表格 */
table a {
    color: var(--a-color);
}

table tr {
    border-top: 1px solid #212121;
    margin: 0;
    padding: 0;
}
table tr th {
    font-weight: bold;
    color: var(--table-thead-text-color);
    border-top: 1px solid var(--table-thead-text-color);
    border-bottom: 1px solid var(--table-thead-text-color);
    border-left: 1px solid #383838;
    border-right: 1px solid #383838;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}
table tr td {
    border: 1px solid #383838;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}
table tr th:first-child,
table tr td:first-child {
    margin-top: 0;
}
table tr th:last-child,
table tr td:last-child {
    margin-bottom: 0;
}

table img {
    border-radius: 8px;
    border-left: none !important;
    border-right: none !important;
    max-width: 100%;
}

/* th,
td {
    border: solid 1px #544e47;
} */


/* 设置表格头部行的样式 */
th,

th {
    background-color: var(--table-thead-color);
}

/* 设置奇偶行的背景颜色 */

tr:nth-child(2n) {
    background-color: var(--table-bg-darker-color);
}

tr:nth-child(2n + 1) {
    background-color: var(--table-bg-color);
}


/*清单列表，task list, check-box*/
.task-list {
    padding-left: 0;
}

.md-task-list-item {
    padding-left: 1.25rem;
}

.md-task-list-item > input {
    top: auto;
}

.md-task-list-item > input:before {
    content: "";
    display: inline-block;
    width: 0.875rem;
    height: 0.875rem;
    vertical-align: middle;
    text-align: center;
    border: 2px solid var(--task-list-border-color);
    /* background-color: var(--task-list-bg-color); */
    margin-top: -0.4rem;
    border-radius: 4px
}


.md-task-list-item > input:checked:before,
.md-task-list-item > input[checked]:before {
    /* content: '\2713';
    font-size: 0.625rem;
    line-height: 0.625rem;
    color: var(--task-list-checked-color); */
    text-decoration: line-through;
    background-color: var(--task-list-checked-color);
    border-radius: 4px;
    border: 0px solid var(--task-list-border-color);
}

#write .md-task-list-item.task-list-done>p {
    color: var(--task-list-checked-color);
    text-decoration: line-through;
}

/* 各类Typora的自带建议菜单，包括输入表情的补全提示、快速打开、代码块选语言的提示等地方 */
.auto-suggest-container {
    border: 0px;
    background-color: var(--dark-menu-bg);
}

/** quick open **//* ctrl + p 快速打开文件的菜单*/


#typora-quick-open {
    background-color: var(--light-menu-bg);
	color: var(--light-menu-font);
}



#typora-quick-open input{
    background-color: var(--light-menu-bg);
	color: var(--light-menu-font);
    border: 0;
    border-bottom: 1px solid grey;
}

.typora-quick-open-item {
    background-color: inherit;
    color: inherit;
}

.typora-quick-open-item b {      /*粗体*/
	color: var(--light-menu-bold-font);
}

.typora-quick-open-item.active {
    background-color: var(--light-menu-bg-active);
    color: var(--light-menu-font-active);
}

.typora-quick-open-item:hover {
    background-color:  var(--light-menu-bg-hover);
    color: var(--light-menu-font-hover);
}

.typora-search-spinner > div {
  background-color: #fff;
}

/* #write pre.md-meta-block {
    border-bottom: 1px dashed #ccc;
    background: transparent;
    padding-bottom: 0.6em;
    line-height: 1.6em;
} */
#write pre.md-meta-block {
    font-size: 0.8rem;
    border: 1px dashed #ccc;
    border-color: var(--primary-color);
    padding: 1rem;
    border-radius: 8px;
    line-height: 1.45;
    background: transparent;
    font-family: var(--ofcodetext);
}

.btn,
.btn .btn-default {
    background: transparent;
    color: #b8bfc6;
}

.ty-table-edit {
    border-top: 1px solid gray;
    background-color: var(--table-edit-color);
}

.popover-title {
    background: transparent;
}

.md-image>.md-meta {
    color: #BBBBBB;
    background: transparent;
}

.md-expand.md-image>.md-meta {
    color: #DDD;
}

#write>h3:before,
#write>h4:before,
#write>h5:before,
#write>h6:before {
    border: none;
    border-radius: 0px;
    color: #888;
    text-decoration: underline;
    left: -1.4rem;
    top: 0.2rem;
}

#write>h3.md-focus:before {
    top: 2px;
}

#write>h4.md-focus:before {
    top: 2px;
}

.md-toc-item {
    color: #A8C2DC;
}

#write div.md-toc-tooltip {
    background-color:  var(--dark-menu-bg);
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.dropdown-menu .btn:hover,
.dropdown-menu .btn:focus,
.md-toc .btn:hover,
.md-toc .btn:focus {
    color: white;
    background: black;
}

#toc-dropmenu {
    background:  var(--select-background);
    border: 1px solid rgba(253, 253, 253, 0.15);
}

#toc-dropmenu .divider {
    background-color: #9b9b9b;
}

.outline-expander:before {
    top: 2px;
}

#typora-sidebar {
    box-shadow: none;
    border-right: 1px dashed;
    border-right: none;
}

.sidebar-tabs {
    border-bottom:0;
}

#typora-sidebar:hover .outline-title-wrapper {
    border-left: 1px dashed;
}

.outline-title-wrapper .btn {
    color: inherit;
}

.outline-item:hover {
    border-color: var(--item-hover-bg-color);
    background-color: var(--item-hover-bg-color);
    color: white;
}

h1.md-focus .md-attr,
h2.md-focus .md-attr,
h3.md-focus .md-attr,
h4.md-focus .md-attr,
h5.md-focus .md-attr,
h6.md-focus .md-attr,
.md-header-span .md-attr {
    color: #8C8E92;
    display: inline;
}

.md-comment {
    color: var(--other-main-color);
    opacity: 0.8;
}

.md-inline-math svg {
    color: #c6c1b8;
}

#math-inline-preview .md-arrow:after {
    background: black;
}

/* 退出菜单 */

.modal-content {
    background: var(--bg-color);
    border-radius: 1rem;
    padding: 1rem;
}

.modal-title {
    font-size: 2.5rem;
}

.modal-content input {
    background-color: rgba(26, 21, 21, 0.51);
    color: white;
}

.modal-content .input-group-addon {
    color: white;
}

.modal-backdrop {
    background-color: rgba(174, 174, 174, 0.7);
}

.modal-content .btn-primary {
    border-color: var(--primary-color);
}

.modal-open .modal.fade.in {
    background: none;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.md-table-resize-popover {
    background-color: var(--code-bg-color);
}

.form-inline .input-group .input-group-addon {
    color: white;
}

#md-searchpanel {
    border-bottom: 1px dashed grey;
}

/* 右键菜单和字数统计 */

.context-menu,
#spell-check-panel,
#footer-word-count-info {
    background-color:  var(--context-menu-color);
}

.context-menu.dropdown-menu .divider,
.dropdown-menu .divider {
    background-color: #777777;
    opacity: 1;
}

/* 页尾模糊 */

footer {
    backdrop-filter: saturate(120%) blur(20px) brightness(0.85);
    border: none !important;
    background: none;
    background-color: var(--footer-bg-color);
}
/* footer {
    color: inherit;
} */

@media (max-width: 1000px) {
    footer {
        border-top: none;
    }
    footer:hover {
        color: inherit;
    }
}

#file-info-file-path .file-info-field-value:hover {
    background-color: #555;
    color: #dedede;
}

.megamenu-content,
.megamenu-opened header {
    background: var(--bg-color);
}

.megamenu-menu-panel h2,
.megamenu-menu-panel h1 {
    color: inherit;
}

.long-btn {
    margin-bottom: 12px;
    margin-left: 2px;
    background-color: var(--of-darkest-color);
    border: 1px solid #383838;
    border-radius: 0.3rem;
    padding: 1rem;
    transition: background 0.2s, color 0.2s, box-shadow 0.2s;
}

.long-btn:hover {
    background-color: var(--other-main-color);
    color: black !important ;
}

#m-import-local:hover .preference-item-hint {
    color: black !important ;
}

.megamenu-menu-panel input[type='text'] {
    background: inherit;
    border: 0;
    border-bottom: 1px solid;
}

#recent-document-table {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#recent-file-panel {
    padding: 10px;
}

#recent-file-panel-action-btn {
    background: inherit;
    border: 1px grey solid;
}

#recent-file-panel thead tr {
    background-color: var(--table-thead-color);
}

#recent-file-panel tbody tr:nth-child(2n) {
    background-color: var(--table-bg-darker-color);
}

#recent-file-panel tbody tr:nth-child(2n + 1) {
    background-color: var(--table-bg-color);
}


.modal-footer .btn-default, 
.modal-footer .btn-primary,
.modal-footer .btn-default:not(:hover) {
    border: 1px solid;
    border-color: transparent;
    border-radius: 0.3rem !important;
}

/* #recent-file-panel-action-btn:hover {
    background-color: var(--hover-bg-color1);
} */

/* 一体化菜单 */

#megamenu-back-btn {
    border-color: transparent;
    color: var(--back-btn-color);
}

.megamenu-menu-header:hover {
    background-color: var(--item-hover-bg-color);
}

.megamenu-menu-panel .dropdown-menu > li > a {
    color: inherit;
    background-color: var(--select-background);
    text-decoration: none;
}

.megamenu-menu-panel table td:nth-child(1) {
    color: inherit;
    font-weight: bold;
}

.megamenu-menu-panel tbody tr:hover td:nth-child(1) {
    color: white;
}

/* .megamenu-menu-sidebar tbody tr:hover td:nth-child(1) {
    background-color: rgb(0, 0, 0);
} */
.megamenu-menu {
    background-color: var(--side-bar-bg-color);
}





.btn-primary {
    border: none;
    border-radius: 0.3rem;
    background-color: var(--other-main-color);
    color: white !important;
}

.btn-primary:hover,
.btn-primary:focus {
    color: white;
    background-color: var(--of-theme-color-dark) !important;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    /* color: white;
    border: 1px solid #ddd; */
    background-color: var(--of-theme-color-dark);
}

.modal-header {
    border-bottom: 0;
}

.modal-footer {
    border-top: 0;
}

.megamenu-menu-panel tbody tr:hover td:nth-child(2) {
    color: inherit;
}

.megamenu-menu-panel .btn {
    border: 1px solid #eee;
    background: transparent;
}

.mouse-hover .toolbar-icon.btn:hover,
#w-full.mouse-hover,
#w-pin.mouse-hover {
    background-color: inherit;
}

.typora-node::-webkit-scrollbar {
    width: 5px;
}

.typora-node::-webkit-scrollbar-thumb:vertical {
    background: rgba(250, 250, 250, 0.3);
}

.typora-node::-webkit-scrollbar-thumb:vertical:active {
    background: rgba(250, 250, 250, 0.5);
}

#w-unpin {
    background-color:  var(--other-main-color);
}

/* 放大缩小的颜色 */
#top-titlebar .toolbar-icon.btn:hover {
    color: var(--item-hover-text-color);
    background-color: var(--of-theme-color-dark);
}

/* 关闭按钮的颜色 */
#top-titlebar #w-close:hover {
    background-color: #e81123 !important;
}

#top-titlebar, #top-titlebar * {
    color: var(--item-hover-text-color);
}

.typora-sourceview-on #toggle-sourceview-btn,
#footer-word-count:hover,
.ty-show-word-count #footer-word-count {
    background: var(--hover-color);
    /* 字数统计按下去的颜色 */
}

#toggle-sourceview-btn:hover {
    color: white;
    background: var(--hover-color);
    /* 查看源代码按下去的颜色 */
}

/** focus mode */
.on-focus-mode .md-end-block:not(.md-focus):not(.md-focus-container) * {
    color: #686868 !important;
}

.on-focus-mode .md-end-block:not(.md-focus) img,
.on-focus-mode .md-task-list-item:not(.md-focus-container)>input {
    opacity: #686868 !important;
}

.on-focus-mode li[cid]:not(.md-focus-container){
    color: #686868;
}

.on-focus-mode .md-fences.md-focus .CodeMirror-code>*:not(.CodeMirror-activeline) *,
.on-focus-mode .CodeMirror.cm-s-inner:not(.CodeMirror-focused) * {
    color: #686868 !important;
}

.on-focus-mode .md-focus,
.on-focus-mode .md-focus-container {
    color: white;
}

.on-focus-mode #typora-source .CodeMirror-code>*:not(.CodeMirror-activeline) * {
    color: #686868 !important;
}


/*diagrams*/
#write .md-focus .md-diagram-panel {
    border: 1px solid white;
    margin-left: -1px;
    width: calc(100% + 2px);
}

/*diagrams*/
#write .md-focus.md-fences-with-lineno .md-diagram-panel {
    margin-left: auto;
}

.md-diagram-panel-error {
    color: #f1908e;
}

.active-tab-files #info-panel-tab-file,
.active-tab-files #info-panel-tab-file:hover,
.active-tab-outline #info-panel-tab-outline,
.active-tab-outline #info-panel-tab-outline:hover {
    color: white;
}

.sidebar-footer-item:hover,
.footer-item:hover {
    background: inherit;
    color: white;
}

.ty-side-sort-btn.active,
.ty-side-sort-btn:hover,
.selected-folder-menu-item a:after {
    color: white;
}

#sidebar-files-menu {
    border:solid 1px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.79);
    background-color: var(--bg-color);
}

.file-list-item {
    border-bottom:none;
}

.file-list-item-summary {
    opacity: 1;
}

.file-list-item.active:first-child {
    border-top: none;
}

.file-node-background {
    height: 32px;
}

.file-library-node.active>.file-node-content,
.file-list-item.active {
    color: white;
    color: var(--active-file-text-color);
}

.file-library-node.active>.file-node-background{
    background-color: rgb(34, 34, 34);
    background-color: var(--active-file-bg-color);
}
.file-list-item.active {
    background-color: rgb(34, 34, 34);
    background-color: var(--active-file-bg-color);
}

#ty-tooltip {
    background-color:  var(--tooltip-color);
    color: var(--tooltip-text-color);
}

/* 右键菜单按下 */
.menu-item-container:hover {
    background-color: var(--menu-item-container-btn-hover);
}

/* 右键菜单按钮 */
.menu-item-container a.menu-style-btn {
    /* background: var(--menu-item-container-btn); */
    border: 1px solid;
    border-color: var(--menu-item-container-btn);
    border-radius: 5px;
}

.md-task-list-item>input {
    margin-left: -1.3em;
    margin-top: 0.3rem;
    -webkit-appearance: none;
}

.md-mathjax-midline {
    background-color:  var(--select-background);
    border-bottom: none;
}

footer.ty-footer {
    border-color: var(--select-background);
}

/* 偏好 */

.ty-preferences .btn-default {
    background: transparent;
}
.ty-preferences .btn-default:hover {
    background: var(--select-background);
}

.ty-preferences select {
    border: 1px solid #9a9a9a;
    height: 21px;
}

.ty-preferences .nav-group-item.active,
.export-item.active,
.export-items-list-control,
.export-detail {
    background: var(--item-hover-bg-color);
}

.ty-preferences input[type="search"] {
    border-color: var(--code-bg-color);
    background: var(--code-bg-color);
    line-height: 22px;
    border-radius: 6px;
    color: white;
}

.ty-preferences input[type="search"]:focus {
    box-shadow: none;
}

[data-is-directory="true"] .file-node-content {
    margin-bottom: 0;
}

.file-node-title {
    line-height: 22px;
}

.html-for-mac .file-node-open-state, .html-for-mac .file-node-icon {
    line-height: 26px;
}

/*滚动条*/

::-webkit-scrollbar {
    width: 8px;
}  

::-webkit-scrollbar-thumb {
    background: rgba(230, 230, 230, 0.30);
    border-radius: 3px;
    background-color: var(--scrollbar-color);
}

::-webkit-scrollbar-thumb:active {
    background: rgba(230, 230, 230, 0.50);
}

#typora-sidebar:hover div.sidebar-content-content::-webkit-scrollbar-thumb:horizontal {
    background: rgba(230, 230, 230, 0.30);
}

.nav-group-item:active {
    background-color:  var(--nav-group-item-color) !important;
}

/* ctrl+F 搜索当前选中的md文本(不包括代码块的文本） */
/*.md-search-select{
	background: var(--md-search-select-bg) !important;
	color: var(--md-search-select-text) !important;                            /* ?不加import会被不知道什么覆盖成白色 */
/*} */

/* ctrl+F 搜索匹配的md文本 */
.md-search-hit {
    background:  var(--md-search-hit-bg);
    color: var(--md-search-hit-text);
}
/*.md-search-hit * {
    color: var(--md-search-hit-text);
}

/* ctrl+F 搜索当前选中的代码块文本 */
/*.CodeMirror-selectedtext {
	background: var(--cm-search-select-bg) !important;
	color: var(--cm-search-select-text) !important; 
}

/* ctrl+F 搜索匹配的代码块文本 */
.cm-search-hit {
    background:  var(--cm-search-hit-bg);
    color: var(--cm-search-hit-text) !important;   /* 没有import会被 .cm-s-inner 覆盖 */
}
/*.cm-search-hit * {
    color: var(--cm-search-hit-text);
}*/

/* 搜索框的文本颜色 */
#md-searchpanel input {
    color: white;
}

.modal-backdrop.in {
    opacity: 1;
    backdrop-filter: blur(1px);
}

.clear-btn-icon {
    top: 8px;
}


/* 代码模式 */

.cm-s-typora-default .cm-header, 
.cm-s-typora-default .cm-property
{
    color: var(--other-main-color);
}

.CodeMirror.cm-s-typora-default div.CodeMirror-cursor{
    border-left: 3px solid var(--code-cursor-color);
}

.cm-s-typora-default .cm-comment {
    color: #ffffff;
}

.cm-s-typora-default .cm-string {
    color: #00bfff
}

.cm-s-typora-default .cm-atom, .cm-s-typora-default .cm-number {
    color: #aa00ff;
    font-style: italic;
}

.cm-s-typora-default .cm-link {
    color: #95B94B;
}

.cm-s-typora-default .CodeMirror-activeline-background {
    background: var(--codemirror-color);
}

.cm-s-typora-default .cm-comment, .cm-s-typora-default .cm-code {
	color: #e1bb8a;
}